.bigNoteContainer {
  padding: 1.5rem 2rem;
  width: 100%;
  overflow: auto;
  height: 90vh;
}

.inputContainer {
  display: none;
}

.bigNoteContainer::-webkit-scrollbar {
  background: #eee;
  width: 9px;
}

.bigNoteContainer::-webkit-scrollbar-corner {
  background: transparent;
}

.bigNoteContainer::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #888;
}
.bigNoteContainer::-webkit-scrollbar-thumb:hover {
  background: #7c7c7c;
  cursor: pointer;
}

@media screen and (max-width: 1010px) {
  .inputContainer {
    display: block;
  }
  .bigNoteContainer {
    padding-bottom: 55px;
  }
}
